ul {
  font-size:25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  float: left;
  user-select: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.sticky {
  width: 100%;
  font-size:20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.button {
  user-select: none;
  float: right;
}

.button:hover {
  background-color: black;
}
body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.nots {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  height: 100%;
  word-wrap: break-word;
}

hr {
  width: 50%;
  text-align: left;
  margin-left: 0
}

.not {
  border-bottom: solid black;
  padding: 5px;
}

@import "./fonts/Poppins-Black.ttf";
